*{
   margin: 0;
   padding: 0;
}

header{
   background-color: white;
}

header img{
   height: 100px;
   opacity: 80%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

nav{
   background-color: rgb(188, 220, 248);
   text-align: center;
   text-transform: uppercase;
   font-family: 'Courier New', Courier, monospace;
}

nav a{
   font-size: 1.5em;
   padding: 1rem 3rem;
   text-decoration: none;
   color: #7690ca;
}

a:hover {
   background-color: rgb(156, 201, 240);
   color: #0f1b4f;
   border-radius: 50px;
}

.active{
   background-color: rgb(186, 220, 250);
   color: #0f1b4f;
   border-radius: 50px;
   border: solid 2px rgb(156, 201, 240);
}

body {
   background-color: rgb(241, 238, 224);
   min-height: 100vh;
   position: relative;
}

.content{
   margin: 0rem 10rem;
   text-align: center;
}

.content img{
   opacity: 0.8;
   width: 1280px;
   height: auto;
}

footer{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 50px;
   background-color: rgb(72, 79, 100);
   color: rgb(19, 26, 48);
   text-align: center;
}