body {
   background-color: darkolivegreen;
   height: 100vh;
}

nav a{
   font-size: 1.5em;
   display:inline;
   padding: 4px 24px;
}

a:link {
   text-decoration: none;
}

a:hover {
   background-color: black;
   color: white;
}